.about {
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
}

.about-right {
  background: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  text-align: center;
  color: #fff;
}
.about-right h1 {
  font-size: 5rem;
  text-transform: uppercase;
  display: none;
}
.about-right h1 span {
  color: #b721ff;
}
.about-right h2 {
  font-weight: 600;
}
.about-btns {
  display: flex;
  margin: 2rem 0;
}
.btn {
  border: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 0.55rem 0;
  width: 130px;
  font-weight: 600;
  background: transparent;
  margin: 0 0.5rem;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.btn.btn-pink {
  background: #b721ff;
  color: #fff;
  border-color: #b721ff;
  transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover {
  background: transparent;
  border-color: #fff;
  color: #fff;
}
.btn.btn-white {
  transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover {
  background: #b721ff;
  border-color: #b721ff;
  color: #fff;
}

.about-para {
  max-width: 500px;
}
.about-para p {
  font-weight: 300;
  padding: 0.5rem;
  opacity: 0.8;
}

.about-para p a {
  line-height: 5px;
}
#henry {
  color: #b721ff;
  text-decoration: none;
  font-weight: 900;
}

@media screen and (min-width: 992px) {
  .about-right h1 {
    display: block;
  }

  .about {
    height: 50vh;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 0;
  }
  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }

  .about-left {
    position: relative;
  }
  .about-left-content {
    position: absolute;
    width: 80%;
  }
}
